@media(min-width:200px) {
    .slider-home{
        height: 250px !important;
    }
    .detail-catalog{
        height: 200px !important;
    }
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 250px !important;
    }
    #hero .carousel-item {
        height: 250px !important;
    }
    #hero .carousel-inner .img-detail-slide, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 200px !important;
        object-fit: cover;
    }
    #hero .img-detail-slide {
        height: 200px !important;
        object-fit: cover;
    }
    .about {
        padding-bottom: 30px;
        padding-top: 100px !important;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 100px;
        object-fit: cover;
    }
    .team .member {
        margin-bottom: 22px;
    }
    .title-product h4 {
        font-size: 15px !important;
        font-weight: 600;
    }
    .btn-selengkapnya {
        border: 1px solid;
        padding: 3px 10px 0px 10px;
        border-radius: 6px;
        height: 34px;
    }
    .btn-selengkapnya a{
        font-size: 10px !important;
        font-weight: 600;
    }
    .section-title {
        text-align: center;
        padding-bottom: 0;
    }
    .about .video-box img {
        padding: 0;
        width: 100%;
    }
    .team .product{
        height: 85px !important;
    }
    .title-product{
        padding-top: 10px
    }
    .btn-order{
        font-size: 11px;
    }
    .title-catalog{
        padding-top: 50px;
        padding-bottom: 5px;
    }
    .title-product {
        padding-bottom: 0px;
    }
    .title-new-product{
        font-size: 13px;
    }
    #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
        background: none;
        font-size: 25px !important;
        line-height: 1;
        width: auto;
        height: auto;
    }
    .title-logo{
        font-size: 16px !important;
        position: absolute;
        top: 11px !important;
        left: 64px !important;
    }
}

@media(min-width:332px){
    .title-logo {
        font-size: 17px !important;
        top: 9px !important;
        left: 64px !important;
    }
}
@media(min-width:345px){
    .title-logo {
        font-size: 20px !important;
        top: 7px !important;
        left: 64px !important;
    }
}
@media(min-width:384px){
    .title-logo {
        font-size: 23px !important;
        top: 7px !important;
        left: 64px !important;
    }
}
@media(min-width:444px){
    .title-logo {
        font-size: 25px !important;
        top: 4px !important;
        left: 64px !important;
    }
}
@media(min-width:480px) {
    .slider-home{
        height: 300px !important;
    }
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 300px;
    }
    #hero .carousel-item {
        height: 300px;
    }
    .about {
        padding-bottom: 30px;
        padding-top: 109px;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 100px;
        object-fit: cover;
    }
    .team .member {
        margin-bottom: 22px;
    }
    .title-product h4 {
        font-size: 20px;
        font-weight: 600;
    }
    .btn-selengkapnya {
        border: 1px solid;
        padding: 3px 10px 0px 10px;
        border-radius: 6px;
        height: 34px;
    }
    .btn-selengkapnya a{
        font-size: 12px;
        font-weight: 600;
    }
    .section-title {
        text-align: center;
        padding-bottom: 0;
    }
    .title-logo{
        font-size: 21px !important;
        position: absolute;
        top: 16px !important;
        left: 64px !important;
    }
}

@media(min-width:768px) {
    .slider-home{
        height: 600px !important;
    }
    .detail-catalog{
        height: 420px !important;
    }
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 600px !important;
    }
    #hero .carousel-item {
        height: 600px;
    }
    #hero .carousel-inner .img-detail-slide, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 420px !important;
        object-fit: cover;
    }
    #hero .img-detail-slide {
        height: 420px !important;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 150px;
        object-fit: cover;
    }
    .title-product h4 {
        font-size: 19px !important;
        font-weight: 600;
    }
    .title-product{
        padding-top: 55px
    }
    .team .product{
        height: 125px;
    }
    .btn-order{
        font-size: 15px;
    }
    .title-catalog{
        padding-top: 155px;
        padding-bottom: 10px;
    }
    .title-logo{
        position: absolute;
        top: 14px !important;
        left: 130px !important;
    }
    .image-product{
        height: 259px;
        object-fit: cover;
    }
    .btn-selengkapnya a {
        font-size: 15px !important;
        font-weight: 600;
    }
}