@media(min-width:250px) and (max-width: 400px) {
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 250px !important;
    }
    #hero, #hero .carousel-item {
        height: 250px !important;
    }
    #hero .carousel-inner .img-detail-slide, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 200px !important;
        object-fit: cover;
    }
    #hero, #hero .img-detail-slide {
        height: 200px !important;
        object-fit: cover;
    }
    .about {
        padding-bottom: 30px;
        padding-top: 100px !important;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 100px;
        object-fit: cover;
    }
    .team .member {
        margin-bottom: 22px;
    }
    .title-product h4 {
        font-size: 15px !important;
        font-weight: 600;
    }
    .btn-selengkapnya {
        border: 1px solid;
        padding: 3px 10px 0px 10px;
        border-radius: 6px;
        height: 34px;
    }
    .btn-selengkapnya a{
        font-size: 10px !important;
        font-weight: 600;
    }
    .section-title {
        text-align: center;
        padding-bottom: 0;
    }
    .about .video-box img {
        padding: 0;
        width: 100%;
    }
    .team .product{
        height: 85px !important;
    }
    .title-product{
        padding-top: 10px
    }
    .btn-order{
        font-size: 11px;
    }
    .title-catalog{
        padding-top: 50px;
        padding-bottom: 5px;
    }
    .title-product {
        padding-bottom: 0px;
    }
    .title-new-product{
        font-size: 13px;
    }
    #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
        background: none;
        font-size: 25px !important;
        line-height: 1;
        width: auto;
        height: auto;
    }
}

@media(max-width:480px) {
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 300px;
    }
    #hero, #hero .carousel-item {
        height: 300px;
    }
    .about {
        padding-bottom: 30px;
        padding-top: 109px;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 100px;
        object-fit: cover;
    }
    .team .member {
        margin-bottom: 22px;
    }
    .title-product h4 {
        font-size: 20px;
        font-weight: 600;
    }
    .btn-selengkapnya {
        border: 1px solid;
        padding: 3px 10px 0px 10px;
        border-radius: 6px;
        height: 34px;
    }
    .btn-selengkapnya a{
        font-size: 12px;
        font-weight: 600;
    }
    .section-title {
        text-align: center;
        padding-bottom: 0;
    }
}

@media(min-width:768px) {
    #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 600px;
    }
    #hero .carousel-item {
        height: 600px;
    }
    #hero .carousel-inner .img-detail-slide, #hero .carousel-inner .active.carousel-item-start, #hero .carousel-inner .active.carousel-item-end{
        background-size: cover;
        height: 420px;
        object-fit: cover;
    }
    #hero .img-detail-slide {
        height: 420px;
    }
    .team .member img {
        transition: all ease-in-out 0.4s;
        width: 100%;
    }
    .img-catalog{
        height: 180px;
        object-fit: cover;
    }
    .title-product h4 {
        font-size: 19px;
        font-weight: 600;
    }
    .title-product{
        padding-top: 30px
    }
    .team .product{
        height: 125px;
    }
    .btn-order{
        font-size: 15px;
    }
    .title-catalog{
        padding-top: 112px;
        padding-bottom: 10px;
    }
}